{% extends "base.html" %}
{% block title %}归档{% endblock %}
{% block main %}
<div id="main" class="content">
	<div class="container">
		<section class="post_content" itemscope itemtype="http://schema.org/Article">
			<header class="post_header">
				<h1 class="post_title">归档</h1>
			</header>
			<div class="post-Archive">
				<div id="archives">
					{% regroup blogs by created.year as years %}
						{% for year in years %}
							{% regroup year.list by created.month as monthes %}
								{% for month in monthes %}
									<div class='archive-title' id='arti-2018-3'>
										<h3>{{ year.grouper }}-{{ month.grouper }}</h3>
										<div class='archives archives-3' data-date='2018-3'>
											{% for blog in month.list %}
												<div class="brick">
													<a href="{% url 'detail' blog.id %}"><span class="time">{{ blog.created.month }}-{{ blog.created.day }}</span>{{ blog.title }}<span></span></a>
												</div>
											{% endfor %}
										</div>
									</div>
								{% endfor %}
						{% endfor %}
				</div>
			</div>
		</section>
	</div>
</div>
{% endblock %}